.card{
    //to change perspective of card when hovered we need to act on the parent
    perspective: 150rem;
    //ensure perspective works in firefox
    -moz-perspective: 150rem;
    //need to ensure height of parent and child r same to keep perspective
    height: 52rem;

    position: relative;

    &__side{
        height: 52rem;
        //make animation smoother
        transition: all .8s ease;

        //hides back part of element
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;

        border-radius: 3px;
        //make sure image below doesnt cover our border-radius
        overflow: hidden;
        //consider creating variables for box shadows
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        //add front side
        &--front{
            background-color: white;
        }

        //add back side
        &--back{
            //before hovering the card back side is already flipped at 180 degrees
            transform: rotateY(180deg);
    
            &-1{
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }

            &-2{
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }

            &-3{
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
        }
    }

    //This means that we hover the card, then the side is transformed
    //When we hover the front card it flips 180 degrees, to back side
    &:hover &__side--front{
        //rotate card 180 degress along y axis when hovered
        transform: rotateY(-180deg);
    }

    //When we hover back side it now needs to go back to 0
    &:hover &__side--back{
        transform: rotateY(0);
    }

    //Front side styling
    &__picture{
        background-size: cover;
        height: 23rem;

        //This blends the background images set in each child below
        //Should look more into options other than screen
        //i like soft-light
        background-blend-mode: soft-light;
        //Make sure clip-path works on all internet providers 
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

        &--1{
            //remember you r doing it from the App.css file
            //pics from unsplash.com
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(./resources/imgs/nat-5.jpg);
        }

        &--2{
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url(./resources/imgs/nat-6.jpg);
        }

        &--3{
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url(./resources/imgs/nat-7.jpg);
        }
    }

    &__heading{
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: white;

        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 65%;
    }

    &__heading-span{
        padding: 1rem 1.5rem;
        //to treat the boxes differently on chrome
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        &-1{
            background-image: linear-gradient(to right bottom, 
                rgba($color-secondary-light, .85), 
                rgba($color-secondary-dark, .85));
        }

        &-2{
            background-image: linear-gradient(to right bottom, 
                rgba($color-primary-light, .85), 
                rgba($color-primary-dark, .85));
        }

        &-3{
            background-image: linear-gradient(to right bottom, 
                rgba($color-tertiary-light, .85), 
                rgba($color-tertiary-dark, .85));
        }
    }

    &__details{
        padding: 3rem;

        ul{
            list-style: none;
            width: 80%;
            //this will center the children 
            margin: 0 auto;

            li{
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child){
                    border-bottom: 1px solid $color-grey-light-2;
                }
            }
        }
    }
}