.heading-primary{
    color: $color-white;
    text-transform: uppercase;
  
    /* Stops headings from shaking */
    backface-visibility: hidden;
  
    margin-bottom: 6rem;
  
    &--main{
      /* put text on-top of eachother */
      display: block;
  
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 3.5rem;
  
      /* link to key frame moveInLeft below */
      animation-name: moveInLeft;
      animation-duration: 2s;
  
      /* 
          animation-delay: 3s; => delays animation by set time 
          animation-timing-function: ease-in; => how quick it takes to run these requirements
          animation-iteration-count: 3; => how many times the animation should occur
      */
    }
  
    &--sub{
      /* put text on-top of eachother */
      display: block;
  
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 1.74rem;
  
      /* 
          due to heading-primary-main, just put animation
          and then computer will figure out the rest
      */
      animation: moveInRight 2s;
    }
  }

  .heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;

    //Makes the color only span the width of the words
    display: inline-block;

    background-image: linear-gradient(
      to right,
      $color-primary-light, $color-primary-dark
    );

    //background gets clipped exactly where text is
    -webkit-background-clip: text;
    //This only shows the background-img
    //But as this covers only the text thats why we see the writing
    color: transparent;

    //Use px as the value is so low
    letter-spacing: 2px;

    transition: all .2s;

    &:hover {
      transform: skewY(2deg) skewX(15deg) scale(1.1);
      text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
  }

  .heading-tertiary{
    font-size: 1.6rem;
    font-weight: 700;
    transform: uppercase;
  }

  .paragraph{
    font-size: 1.6rem;

    &:not(:last-child){
      margin-bottom: 3rem;
    }
  }